.layout {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100%;

    overflow: hidden;
}

.appHeader {
    height: 60px;
}

.currentPage {
    height: calc(100vh - 60px);
}