.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.form {
    min-width: 320px;
    width: 100%;

    max-width: 768px;
    height: 100%;

    padding-top: 92px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    position: relative;
}

.title {
    font-size: $font-xl;
}

.requestField {
    min-height: 80px;
}

.buttons {
    display: flex;
    gap: 8px;
    width: 100%;

    position: absolute;
    bottom: 68px;
}

