.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.form {
    min-width: 320px;
    width: 100%;

    max-width: 768px;
    height: 100%;

    overflow: hidden;

    padding-top: 78px;
    position: relative;
}

.contentWrapper {
    max-height: calc(100% - 70px);
    max-width: 100%;
    overflow-y: auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    position: relative;
}

.title {
    font-size: $font-xl;
}

.requestField {
    min-height: 80px;
}

.buttons {
    display: flex;
    gap: 8px;
    width: 100%;

    position: absolute;
    bottom: 68px;
}

