$primary-background: var(--primary-background);
$secondary-background: var(--secondary-background);
$accent-info: var(--accent-info);
$accent-success: var(--accent-success);
$accent-danger: var(--accent-danger);
$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);

$font-xl: var(--font-xl);
$font-l: var(--font-l);
$font-md: var(--font-md);
$font-sm: var(--font-sm);
$font-s: var(--font-s);
$font-xs: var(--font-xs);